@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

a {
  position: relative;
  display: inline-block;
  width: fit-content;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: #000;
  width: 0; /* start with no width */
  transition: width 250ms ease;
}

a:hover::after {
  width: 100%; /* grows to match text width only */
}
